@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display+SC:wght@400;700;900&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Playfair Display SC', serif;
}
p {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
text-align: justify;
}
.main-title{
    text-align: center;
    
}
.title {
    font-family: 'Playfair Display';
    color: #a2c44c;
}
.title:hover{
    color: #25354f!important;
    cursor: pointer;
}
.sub-title{
    color: #25354f;
    font-size: large;
    text-align: center;
    letter-spacing: 1px;
}
.nav-title{
    font-family: 'Playfair Display SC', serif;
    font-weight: 600;
    font-size: large;
    color: #25354f!important;
}
.active {
    color: #a2c44c!important;
}
.nav-title:hover{
    color: #a2c44c!important;
    cursor: pointer;
    border-bottom: 2px solid #25354f;
}
.section-main-title{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: #a2c44c;
    color: #25354f;
}
.section-title{
    font-family: 'Playfair Display', serif;
    color: #25354f;
}