@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display+SC:wght@400;700;900&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
:root{
    --blue:#25354f;
    --green: #a2c44c;
    --paragraph: 'Montserrat', sans-serif;
    --title: 'Playfair Display', serif;
}
p {
    font-family: var(--paragraph);
    text-align: justify;
    color: #25354fd2;
}
.bold{
    font-weight: bold;
}
.main-title{
    text-align: center;
    
}
.title {
    font-family: var(--title);
    font-weight: 700;
    color: var(--green);
    text-align: left;
}
.title:hover{
    color: var(--blue)!important;
    cursor: pointer;
}
.sub-title{
    color: var(--blue);
}
.nav-title{
    font-family: 'Playfair Display SC', serif;
    font-weight: 600;
    font-size: large;
    color: var(--blue)!important;
}
.active {
    color: var(--green)!important;
}
.nav-title:hover{
    color: var(--green)!important;
    cursor: pointer;
    border-bottom: 2px solid var(--blue);
}
.section-main-title{
    font-family: var(--paragraph);
    text-align: center;
    background-color: var(--green);
    color: var(--blue);
}
.section-title{
    font-family: var(--title);
    font-weight: 600;
    color: var(--blue);
}
.footer{
    background-color: var(--blue);
}